// 首页描述文字
.home .hero .description {
    max-width: none;
}

// 侧边栏二级菜单
.sidebar-item:not(.sidebar-heading) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 书签导航
.bookmark-box {
    margin-left: -16px;
}